.app{
  border-style: solid;
}

.para {
  display: block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  text-align: justify;
}

.box {
  border-style: dashed;
  padding: 1em 2em;
  margin-top: 2em;
}